---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Home - Clothes Swap Club";
import { Picture } from "astro:assets";
import HeroImage from "../assets/hero.webp";
---

<Layout pageTitle={pageTitle}>
  <div class="container" id="hero">
    <Picture
      src={HeroImage}
      formats={["webp"]}
      alt="People enjoying a clothing swap"
      class="hero-image"
      loading="eager"
      fetchpriority="high"
    />
    <div class="hero-text-container">
      <h1 class="hero-text auto-margin">CLOTHES SWAP CLUB</h1>
      <p class="hero-p auto-margin">
        Welcome to the Clothes Swap Club. You don’t need to become a member to
        swap, but if you’d like to be the first receive the latest news and
        updates, you can join the club!
      </p>
      <div class="button-container">
        <button class="button auto-margin">
          <a href="/join">Join the Club</a>
        </button>
        <button class="button auto-margin">
          <a href="/swaps">Find a swap</a>
        </button>
      </div>
    </div>
  </div>
  <div class="why">
    <h2>Why clothing swaps?</h2>
    <p class="why-p">
      Clothing swaps (Also called Closwaps) are a fun and sustainable way to
      refresh your wardrobe without spending money. Bring your gently used
      clothes and exchange them for new-to-you items!
    </p>
  </div>

  <style>
    .hero-image {
      object-fit: cover;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 8%;
      margin: 0px;
    }
    .hero-text {
      color: #040316;
      font-size: clamp(3.5rem, 8vw, 10rem);
      font-weight: 400;
      max-width: 100vw;
      text-align: center;
    }
    .hero-p {
      font-size: clamp(1.3rem, 4vw, 2rem);
      text-align: center;
    }
    .container {
      width: 100vw;
      position: relative;
      margin: 0px;
    }

    .hero-text-container {
      height: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-content: center;
    }

    .auto-margin {
      margin: auto;
    }

    h2 {
      font-size: clamp(2.625em, 6vw, 7.5em);
      font-weight: 400;
    }

    .why {
      padding-top: 80px;
      padding-left: 64px;
    }

    .why-p {
      padding-top: 1em;
      font-size: clamp(0.87em, 5.3vw, 1.4em);
      max-width: 1200px;
    }

    .button-container {
      display: flex;
      align-self: center;
      gap: 20px;
    }
  </style>
</Layout>
