* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif; /* A modern, clean sans-serif font */
  background-color: #f3f4f6; /* Light gray background */
  min-height: 100vh; /* Full viewport height */
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: var(--accent-color);
  padding: 15px;
  width: 200px;
}

button a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
}

h1 {
  font-size: 5rem;
}

.btn-secondary:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.btn-secondary {
  background-color: #f0e2cc; /* Transparent background */
  color: var(--text-color);
}

.btn-primary:hover {
  transform: scale(1.025); /* Slightly enlarge on hover */
}

.btn-primary {
  background-color: #f4bd54; /* Yelorange background */
  color: var(--text-color); /* Black text */
  border: 2px solid transparent; /* No border initially */
}
