---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../pages/styles/global.css";
import "../pages/styles/navbar.css";

import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="Welcome to the Clothes Swap Society! Join us to swap gently used clothing, shoes, and accessories sustainably."
    />
    <meta
      name="keywords"
      content="clothes swap, sustainable fashion, community, clothing exchange, eco-friendly, reduce waste"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap"
    />
  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot />
      <Footer />
    </main>
  </body>
</html>
