---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../pages/styles/global.css";

import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap"
    />
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    <Header />
    <main id="main-content">
      <slot />
      <Footer />
    </main>
    <script>
      const openButton = document.querySelector("#open-sidebar-button");

      const navLinks = document.querySelectorAll("nav a");
      navLinks.forEach((link) => {
        link.addEventListener("click", () => {
          const navbar = document.querySelector(".navbar");
          if (navbar) {
            navbar.classList.remove("show");
          }
          if (openButton) {
            openButton.setAttribute("aria-expanded", "false");
          }
          if (navbar) {
            navbar.setAttribute("inert", "");
          }
        });
      });

      const media = window.matchMedia("(width < 600px)");

      media.addEventListener("change", (e) => updateNavbar(e));

      function updateNavbar(e: MediaQueryListEvent) {
        const isMobile = e.matches;
        console.log(isMobile);
        if (isMobile) {
          if (navbar) {
            navbar.setAttribute("inert", "");
          }
        } else {
          if (navbar) {
            navbar.removeAttribute("inert");
          }
        }
      }

      const menuButton = document.querySelector(".menu-button");
      if (menuButton) {
        menuButton.addEventListener("click", () => {
          const navbar = document.querySelector(".navbar");
          if (navbar) {
            navbar.classList.add("show");
            navbar.removeAttribute("inert");
          }
          if (openButton) {
            openButton.setAttribute("aria-expanded", "true");
          }
        });
      }

      const closeButton = document.querySelector(".close-button");
      if (closeButton) {
        closeButton.addEventListener("click", () => {
          const navbar = document.querySelector(".navbar");
          if (navbar) {
            navbar.classList.remove("show");
            navbar.setAttribute("inert", "");
          }
          if (openButton) {
            openButton.setAttribute("aria-expanded", "false");
          }
        });
      }
    </script>
  </body>
</html>
